<article class="item-card">
    <img src="{{ imagePath }}" alt="{{ title }}" />
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <div class="item-details">
        <p class="item-description">{{ price }}</p>
    </div>
</article>